[submodule "src/main/org/JSON-java"]
	path = src/main/org/json
	url = git@github.com:johnjaylward/JSON-java.git
[submodule "src/test/org/json/junit"]
	path = src/test/org/json/junit
	url = git@github.com:johnjaylward/JSON-Java-unit-test.git
